/** Desktop **/
@media (min-width:801px) {
    .gridwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto-fill);
        grid-column-gap: 30px;
    }

    nav {
        height: 67px;
    }

    nav .menu li {
        margin: 1.5rem 75px 0 0;
    }



    /*Generelle tekster*/

    H1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    H2 {
        font-size: 1.5rem;
        margin: 2rem 0 1rem 0;
    }

    H3 {
        font-size: 1.5rem;
        margin: 1.5rem;
    }

    p,
    li,
    span {
        line-height: 2rem;
        font-size: 1rem;
    }

    /**Colapse_btn**/

    .colapse_btn {
        max-height: 5.4vw;
        width: 50%;
        margin: 0 auto 2rem auto;
    }


    .colapse_btn span,
    .colapse_btn span a:active,
    .colapse_btn span a:link,
    .colapse_btn span a:visited,
    .colapse_btn span a:hover {
        font-size: 1.7rem;
    }


    .colapse_btn ul li {
        font-size: 1.4rem;
    }

    /**multi colapse **/

    .multi_colapse_btn {
        max-height: 5.4vw;
        width: 50%;
        margin: 0 auto 2rem auto;

    }

    .multi_colapse_btn span,
    .multi_colapse_btn span a:active,
    .multi_colapse_btn span a:link,
    .multi_colapse_btn span a:visited,
    .multi_colapse_btn span a:hover {
        font-size: 1.7rem;
    }

    .multi_colapse_btn ul li {
        padding: 0.7rem;
        font-size: 1.4rem;
    }

    .multi_colapse_btn .colapse_wrap > li {
        padding: 2.5rem;
    }
}
